.body {
    margin-top: 0;
    padding: 0;
}

.message-content-area {
    background-image: url(img/bricks-bg.jpg);
    background-size: cover;
    background-position: center;
}

.message-info {
    backdrop-filter: blur(5px);
    color: white;
    
}


#staticEmail {
    color: white;
}